<h1>Edit kopi</h1>

<%= form_with scope: :kopi, model: @kopi, local: true do |form| %>

	<%= form.collection_select :farm_id, @farms, :id, :location %>

  <%= form.collection_select :roast_id, @roasts, :id, :name %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p> Farm:
    <%= @farm.location %>
  </p>

  <p> Roast:
    <%= @roast.name %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Delete', kopi_path(@kopi),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', kopis_path %>