<h1>Listing all kopis here</h1>

<% if current_user%>
	<%= link_to 'New kopi', new_kopi_path %>
<% end %>

<%= form_tag(kopis_path, method: "get") do %>
    <%= select_tag(:sortby, options_for_select(["Sort by",['Name (Alphabetical)','name'],['Roast (Alphabetical)','roast'], ['Popularity (Low to High)','popularity-asc'], ['Popularity (High to Low)','popularity-des'],['Oldest to Newest','time']]), :onchange=>'this.form.submit();',class:"form-control" ) %>
<%end%>


<table>
  <tr>
    <th>Name</th>
    <th>Roast #</th>
    <th>Popularity</th>
    <th></th>
  </tr>

  <% @sorted.each do |kopi| %>
    <tr>
      <td><%= kopi.name %></td>
      <td><%= kopi.roast.name %></td>
      <td><%= kopi.customers.length %></td>
      <td><%= link_to 'Show', kopi_path(kopi) %></td>
      <td><%= link_to 'Edit', edit_kopi_path(kopi) %></td>
      <td><%= link_to 'Destroy', kopi_path(kopi),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>