<h1>Listing all farms here</h1>

<% if current_user.try(:admin?)%>
	<%= link_to 'New farm', new_farm_path %>
<% end %>

<%= form_tag(farms_path, method: "get") do %>
    <%= select_tag(:sortby, options_for_select(["Sort by",['Location','location'], ['Default','default']]), :onchange=>'this.form.submit();',class:"form-control" ) %>
<%end%>

<table>
  <tr>
    <th>Location</th>
    <th>Phone #</th>
    <th></th>
  </tr>

  <% @sorted.each do |farm| %>
    <tr>
      <td><%= farm.location %></td>
      <td><%= farm.phone_num %></td>
      <td><%= link_to 'Show', farm_path(farm) %></td>
      <td><%= link_to 'Edit', edit_farm_path(farm) %></td>
      <td><%= link_to 'Destroy', farm_path(farm),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
</table>