<h1> A farm</h1>

<p> This is farm: <%= @farm.location %>
</p>

<p> Phone num: <%= @farm.phone_num %>
</p>

<h3> All owned Kopis </h3>
<% @kopis.each do |kopi| %>
<p> <%= kopi.name %>
<%= link_to 'Show Kopi', kopi_path(kopi.id) %>
</p>

<% end %>


<%= link_to 'Edit', edit_farm_path(@farm) %>

<%= link_to 'Back', root_path %>